.btn-blue {
	background-color: #0154BB;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.btn-blue:hover {
	background-color: #7ab6ff;
	transition-delay: 0,1s;
}